* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --dark-text-color: #272341;
  --neutral-color: #fff;
  --primary-color-light: #00cdac;
  --primary-color-dark: #02aab0;
  --footer-bg: #333333;
  --body-color: #fff;
  --body-font: "Montserrat", sans-serif;
  --body-text-color: #222;
  scroll-behavior: smooth;
}

::placeholder {
  font-family: var(--body-font);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #00cdac;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background: #f8f8f8;
}

body {
  font-family: var(--body-font);
  background: var(--body-color);
  color: var(--body-text-color);
  transition: all ease-in-out 0.5s;
}

html {
  font-size: 62.5%;
}

/* HERO SECTION STYLING */
.hero__section {
  height: 100vh;
  width: 100%;
  /* border: 2px solid red; */
  padding: 0 6rem;
  position: relative;
}

.switch-container {
  position: absolute;
  top: 20px;
  right: 20px;
}
.switch-container label {
  display: flex;
  width: 75px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  background: #222;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
}

label i {
  font-size: 18px;
}
label .fa-sun {
  color: gold;
  transition: 0.8s;
}
label .fa-moon {
  color: #fff;
  transition: 0.8s;
}
label .ball {
  display: none;
}

input:checked + label .fa-sun {
  transform: translateX(43px);
}
input:checked + label .fa-moon {
  transform: translateX(-43px);
}

label .fa-sun {
  opacity: 1;
}
input:checked + label .fa-sun {
  opacity: 0;
}
label .fa-moon {
  opacity: 0;
}
input:checked + label .fa-moon {
  opacity: 1;
}

label .ball {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 5px;
  left: 5px;
  background: #fff;
  border-radius: 50%;
  transition: 0.8s;
}

input:checked + label .ball {
  transform: translateX(40px);
}

label .fa-sun {
  transform: translateX(43px);
}
input:checked + label .fa-sun {
  transform: translateX(0);
}

label {
  transition: 0.3s;
}
input:checked + label {
  background: #c0c0c0;
}
input:checked + label .ball {
  background: #222;
}
input {
  display: none;
}

input:checked + label .fa-sun {
  transform: translateX(43px) rotate(160deg);
}

/* input:checked + label .fa-moon {
  transform: translateX(-43px), rotate(250deg);
} */

/* label .fa-moon {
  transform: translateX(40px) rotate(250deg);
} */

/* input:checked + label .ball {
  transform: translateX(40px);
} */

.hero__text-container {
  margin: 0 2rem;
  gap: 4rem;
}

.hero__lead--text {
  font-size: 5.6rem;
  color: var(--dark-text-color);
  line-height: 7rem;
}

.hero__lead--text span {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    135deg,
    var(--primary-color-dark),
    var(--primary-color-light)
  );
  color: transparent;
}

.hero--button {
  font-size: 2.4rem;
  padding: 1rem 2rem;
}

/* ABOUT SECTION STYLING */
.about__section {
  padding: 5rem 0;
  background-color: var(--primary-color-dark);
  background-image: linear-gradient(
    135deg,
    var(--primary-color-dark),
    var(--primary-color-light)
  );
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
  color: var(--neutral-color);
  overflow-x: hidden;
}

.about__container {
  max-width: 90rem;
  margin: auto;
  height: 100%;
}

.about--header {
  text-transform: uppercase;
  color: var(--neutral-color);
  /* transition: all 1.5s ease-in; */
}

.about__content {
  height: auto;
  transition: all 1.5s ease-in;
}

.about__content--text {
  flex: 1;
}

.about__content--image {
  padding: 1rem 2rem;
}
.about__content--image img {
  width: 300px;
  height: 400px;
}

.about__content--text {
  padding: 1rem 2rem;
  gap: 2rem;
}

.about__content--bio {
  font-size: 1.4rem;
  font-weight: 400;

  line-height: 3rem;
}

.tech__stack-container {
  color: var(--neutral-color);
}

.about__content--header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.tech__stack {
  column-gap: 2rem;
  list-style: none;
  flex-wrap: wrap;
}

.tech__stack--skill {
  font-size: 1.4rem;
  font-weight: 600;
}
.tech__stack--skill i {
  font-size: 1.6rem;
  padding: 1rem;
}

.about__content--button {
  align-self: start;
  padding: 0.5rem 1.5rem;
  color: var(--neutral-color);
  border: 2px solid var(--neutral-color);
  font-size: 1.8rem;
}

.about__content--button:hover:before {
  transform: translateX(-2.5%) skew(20deg);
}

/* PROJECT SECTION STYLING */
.project__section {
  overflow-x: hidden;
}
.project__section--header {
  color: var(--dark-text-color);
  max-width: 110rem;
  margin: 0 auto;
}

.project__container {
  gap: 2rem;
  margin-bottom: 8rem !important;
}

.project__text--area {
  flex: 1;
  padding: 1rem;
  gap: 1rem;
}

.project__img--area {
  flex: 1.5;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform-style: preserve-3d;
  perspective: 100px;
  border: 2px solid red;
}

.project__img--area img {
  width: 100%;
  height: 100%;
}

.project__name {
  color: var(--dark-text-color);
}

.project__description {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.project__buttons {
  gap: 2rem;
  font-size: 1.6rem;
}

.project__buttons a {
  padding: 0.5rem 1.5rem;
}

.more__projects--button {
  font-size: 1.8rem;
  padding: 1rem 2rem;
}
/* PROJECT SECTION STYLING */
.cta__section {
  background-image: linear-gradient(135deg, #02aab0, #00cdac);
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  color: #fff;
  margin-bottom: -1px;
  padding: 15rem 0 10rem;
  overflow-x: hidden;
}

.cta__container {
  gap: 1rem;
}

.cta__contact--link {
  width: 40rem;
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  color: var(--neutral-color);
  font-weight: 600;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.cta__contact--link:hover {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

.cta__contact--link lord-icon {
  margin-right: 1rem;
}
.cta__form {
  width: 40rem;
  gap: 1rem;
  margin-top: 3rem;
}

.cta__form input,
.cta__form textarea,
.cta__form button {
  padding: 1.5rem 2rem;
  border: none;
  transition: all 0.2s ease-in-out;
  font-family: var(--body-font);
}

.cta__form input:focus,
.cta__form textarea:focus {
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  outline: none;
  font-family: var(--body-font);
}

.cta__form textarea {
  resize: none;
}

.cta_button {
  font-weight: 700;
  font-size: 1.6rem;
  background: none;
  color: var(--dark-text-color);
  color: var(--neutral-color);
  border: 2px solid #fff !important;
  cursor: pointer;
}

.footer__section {
  border: 2px solid rebeccapurple;
  background: var(--footer-bg);
}

.footer__container {
  gap: 4rem;
}

.footer__socials {
  gap: 4rem;
}

.footer__socials--link {
  color: var(--neutral-color);
  font-size: 3rem;
}

.dashed__line {
  width: 50%;
  border-bottom: 2px solid #464646;
}
.copyright {
  font-size: 1.4rem;
  color: var(--neutral-color);
}

.copyright a {
  color: var(--neutral-color);
  font-weight: 700;
}

.hidden {
  opacity: 0;
  transform: translateX(100%);
}

.hidden__left {
  opacity: 0;
  transform: translateX(-100%);
}

.hidden__right {
  opacity: 0;
  transform: translateX(100%);
}

.left__column {
  transition: all 1.5s ease-in-out;
}
.right__column {
  transition: all 1.5s ease-in-out;
}

/* .js-tilt {
  border: 2px solid red;
} */

.dark__mode {
  --dark-text-color: #fff;
  --body-color: #232222;
  --body-color: #333333;
  --body-text-color: #fff;
  transition: all ease-in-out 0.5s;
}
